In [2]:
import pandas as pd
import numpy as np

In [3]:
#1) df_tips içindeki Payment ID column'unun son 3 rakamını çekin. Bu işlemi 3 farklı yolla da yapmaya çalışın.

In [5]:
df_tips=pd.read_csv("tips.csv")

In [6]:
df_tips['Payment ID'].tail(3)

241    Sat3880
242      Sat17
243    Thur672
Name: Payment ID, dtype: object

In [7]:
df_tips[['Payment ID']].tail(3)

    Payment ID
241    Sat3880
242      Sat17
243    Thur672

In [8]:
#3. YOL BULAMADIM

In [9]:
#2) df_tips içindeki Payer Name sütununda isim ve soy isim bilgileri bulunuyor.
#O sütundan sadece isim bilgileri çekin ve 'JustName' adında yeni bir column oluşturun. (Bu biraz zorlayıcı olabilir,
#Önce kendiniz yapmaya çalışın fakat yapamazsanız ChatGPT'ye soruyu düzgünce sorarak cevabını kod olarak alabilirsiniz, ardından döndürülen kodu anlamaya çalışmanız yeterlidir.)

In [10]:
_series=pd.Series(df_tips['Payer Name'])
_justName=[]
for i in _series:
  _justName.append(i.split(' ',1))

In [11]:
for i in range(len(_justName)):
  _justName[i]=_justName[i][0]

In [12]:
df_tips['JustName']=_justName

In [13]:
df_tips.head(5)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,JustName
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,Christy
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,Douglas
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,Travis
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,Nathaniel
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,Tonya

In [14]:
#3) 2.Soruda yeni oluşturduğunuz 'JustName' sütunundaki verilerin her birinden kaç tane olduğuna uygun methodu kullanarak bakın.

In [15]:
df_tips.JustName.value_counts()

Jason          9
Michael        7
James          6
David          6
Christopher    5
              ..
Shawna         1
Louis          1
Chris          1
Mark           1
Michelle       1
Name: JustName, Length: 153, dtype: int64

In [16]:
#4) 3.Soruda gördüğünüz gibi JustName sütununda 'Jason' isminden 9 tane, 'Michael' isminden 7 tane , 'James' isminden 6 tane bulunuyor.
#Peki bunların hepsi gerçekten farklı kişiler mi ? Hemen 'Payer Name' sütunundaki verilerin adetlerini de saydırtarak bir kıyaslama yapın.
#'JustName' sütununu kullanmanın faydasız ve yanıltıcı olabileceğini görün ardından oluşturduğumuz 'JustName' sütununu kalıcı olarak drop edin.
#(Oluşturmanız için bir pratikti bu sütun sadece :D) NEDEEEENNN NEDEEEEEN NEDEEEENNNNN HAAAAYYYYYIIIIIIIIIIIIIIIIIIIIIIIIIIIRRRRRRRRRRRRRRRR

In [17]:
df_tips['Payer Name'].value_counts()

Christy Cunningham    1
Todd Patterson        1
Madison Wilson        1
Ryan Gonzales         1
Laura Robles          1
                     ..
Shawna Cook           1
Derek Thomas          1
Donald Williams       1
Roger Taylor          1
Michelle Hardin       1
Name: Payer Name, Length: 244, dtype: int64

In [18]:
df_tips=df_tips.drop(columns=['JustName'])

In [19]:
df_tips

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672

In [20]:
#5) Erkeklerin ve kadınların davranış patternlerini ayrı ayrı inceleyip yorumda bulunabilmek için 'df_male' ve 'df_female' adında 2 dataframe oluşturun.
#Birinde sadece 157 erkek verisi, diğerinde sadece 87 kadın verisi bulunsun.

In [21]:
df_Male=df_tips[df_tips['sex']=='Male']
df_Female=df_tips[df_tips.sex=='Female']

In [22]:
df_Male.value_counts()

total_bill  tip    sex   smoker  day   time    size  price_per_person  Payer Name         CC Number         Payment ID
7.25        5.15   Male  Yes     Sun   Dinner  2     3.62              Larry White        30432617123103    Sun9209       1
23.17       6.50   Male  Yes     Sun   Dinner  4     5.79              Dr. Michael James  4718501859162     Sun6059       1
21.70       4.30   Male  No      Sat   Dinner  2     10.85             David Collier      5529694315416009  Sat3697       1
22.23       5.00   Male  No      Sun   Dinner  2     11.12             Joshua Gilmore     4292072734899     Sun7097       1
22.49       3.50   Male  No      Fri   Dinner  2     11.24             Earl Horn          6011849326227398  Fri5700       1
                                                                                                                         ..
15.95       2.00   Male  No      Thur  Lunch   2     7.98              Christopher Lang   4820629318698319  Thur1992      1
15.98       2.03   Male  No      Thur  Lunch   2     7.99              Jason Jones        4442984204923315  Thur1944      1
16.00       2.00   Male  Yes     Thur  Lunch   2     8.00              Jason Burgess      3561461821942363  Thur2710      1
16.04       2.24   Male  No      Sat   Dinner  3     5.35              Adam Edwards       3544447755679420  Sat8549       1
50.81       10.00  Male  Yes     Sat   Dinner  3     16.94             Gregory Clark      5473850968388236  Sat1954       1
Length: 157, dtype: int64

In [23]:
#6) Ardından bu 'df_male' ile 'df_female' 'in ödedikleri bahşişler toplamını bulup karşılaştırın.

In [24]:
df_Female.total_bill.sum()

1570.9499999999996

In [25]:
df_Male.total_bill.sum()

3256.8199999999997

In [26]:
df_tips.groupby(by=['sex']).sum()

        total_bill     tip  size  price_per_person           CC Number
sex
Female     1570.95  246.51   214            649.40  213193376590983264
Male       3256.82  485.07   413           1275.32  412299540541802240

In [27]:
#7) 6.Soruda erkeklerin ve kadınların ödedikleri bahşişler toplamına bakıldığında Erkeklerin kadınlara kıyasla toplamda daha çok bahşiş ödediğini görüyoruz.
#Fakat biz biliyoruz ki bizim verimizde 157 Erkek, 87 kadın verisi vardı.
#Dolayısıyla Erkek sayısı daha fazla olduğu için toplam ödeyecekleri bahşiş miktarlarında da daha fazla çıkması oldukça normal bir durum.
#Bu yüzden daha mantıklı bir çıkarım için bu sefer df_male ile df_female'in bahşiş ORTALAMALARIN'a bakıp kıyaslayın, aralarında anlamlı ve ciddi bir fark var mı?

In [28]:
df_Female.total_bill.mean()

18.056896551724133

In [29]:
df_Male.total_bill.mean()

20.744076433121016

In [30]:
df_tips.groupby(by=['sex']).mean()

        total_bill       tip      size  price_per_person     CC Number
sex
Female   18.056897  2.833448  2.459770          7.464368  2.450499e+15
Male     20.744076  3.089618  2.630573          8.123057  2.626112e+15

In [31]:
#8) Oluşturmuş olduğunuz df_male ile çalışarak elimizdeki verideki erkeklerin yüzde kaçının sigara içtiğini bulun.
#Aynı şekilde elimizdeki kadınların yüzde kaçının sigara içtiğini de bulun.
#Aralarında anlamlı bir fark mı yorumlayın.

In [32]:
_smokerM=df_Male.smoker[df_Male.smoker=='Yes'].count()
_nonSmokerM=df_Male.smoker.count()
_oranM=100*_smokerM/_nonSmokerM

In [33]:
_oranM

38.21656050955414

In [34]:
_smokerF=df_Female.smoker[df_Female.smoker=='Yes'].count()
_nonSmokerF=df_Female.smoker.count()
_oranF=100*_smokerF/_nonSmokerF

In [35]:
_oranF

37.93103448275862

In [36]:
100 * df_tips[df_tips.smoker=='Yes'].groupby(by=['sex']).smoker.count() / df_tips.groupby(by=['sex']).smoker.count()

sex
Female    37.931034
Male      38.216561
Name: smoker, dtype: float64

In [37]:
#9) Erkeklerin zaman olarak dinnerda mı yoksa lunch'da mı daha fazla yemek yediğini yüzdesel olarak bulun. Aynı işlemi kadınlar için de yapın. 
#Yüzdesel olarak erkeklerin ve kadınların yemek yeme vakitleri arasında anlamlı bir fark var mı yok mu yorumlayın.

In [40]:
df_Male.groupby(by=['time']).sum()

        total_bill     tip  size  price_per_person           CC Number
time
Dinner     2661.22  389.96   335           1015.85  330734900889331456
Lunch       595.60   95.11    78            259.47   81564639652470800

In [42]:
df_tips.groupby(by=['sex']).smoker.count()

sex
Female     87
Male      157
Name: smoker, dtype: int64

In [1]:
#10) CC Number sütununu kalıcı olarak drop edin.
#Ardından df'in içindeki sütunların birbirleriyle olan ilişkilerini inceleyin ve çıkan sonuçlar hakkında yorumlarınızı belirtin.

In [38]:
df_tips=df_tips.drop(columns=['CC Number'])

In [39]:
df_tips

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,Sun2251
...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,Thur672